li {
    padding: 5px;
    margin: 5px;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
    max-width: 300px;
}

body {
    background-color: #ffcb68;
}

img {
    display: block;
    height: auto;
    width: 200px;
    margin: 100px auto 0;
}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 8px orange;
    margin: 10px auto 0;
    color: red;
    text-align: center;
}

.devourchoice, .yum, .submit, .radio {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}

.submit {
    display: block;
    height: auto;
    width: 200px;
    margin: 0 auto 100px;
}