li {
    padding: 5px;
    margin: 5px;
    background: #be720f;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}

body {
    background-color: #ffcb68;
}

img {
    position: relative;
    top: 30%;
    display: block;
    height: auto;
    width: 200px;
    margin: 100px auto 0;
}